<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <!-- el log estara en el ouput directory (binarios)
        Ademas hay que configurar propiedades de nlog.config para que lo copie al output directory-->
        <target name="logfile" xsi:type="File" fileName="../../../../reports/qacover-nlog.log" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>